{
    "swagger": "2.0",
    "info": {
        "description": "Edu Eats API - 愛揪 API",
        "version": "1.0.0",
        "title": "Edu Eats API",
        "contact": {
            "email": ""
        }
    },
    "host": "fatraceschool.k12ea.gov.tw",
    "basePath": "/",
    "tags": [
        {
            "name": "county",
            "description": "縣市資料相關操作"
        },
        {
            "name": "area",
            "description": "區域資料相關操作"
        },
        {
            "name": "school",
            "description": "學校資料相關操作"
        },
        {
            "name": "canteen",
            "description": "餐廳資料相關操作"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/county": {
            "get": {
                "tags": [
                    "county"
                ],
                "summary": "取得縣市列表",
                "description": "取得所有縣市的資料列表",
                "operationId": "getCounties",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功取得縣市資料",
                        "schema": {
                            "$ref": "#/definitions/CountyResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/area": {
            "get": {
                "tags": [
                    "area"
                ],
                "summary": "查詢區域資料",
                "description": "根據縣市ID查詢該縣市下的所有區域資料",
                "operationId": "getAreas",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "CountyId",
                        "in": "query",
                        "description": "縣市ID",
                        "required": true,
                        "type": "integer",
                        "example": 19
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得區域資料",
                        "schema": {
                            "$ref": "#/definitions/AreaResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/school": {
            "get": {
                "tags": [
                    "school"
                ],
                "summary": "搜尋學校資料",
                "description": "https://fatraceschool.k12ea.gov.tw/school?CountyId=19&AreaId=131398&SchoolType=5",
                "operationId": "searchSchools",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "CountyId",
                        "in": "query",
                        "description": "縣市ID",
                        "required": false,
                        "type": "string",
                        "example": "19"
                    },
                    {
                        "name": "AreaId",
                        "in": "query",
                        "description": "區域ID",
                        "required": false,
                        "type": "string",
                        "example": "131398"
                    },
                    {
                        "name": "SchoolType",
                        "in": "query",
                        "description": "學校院所類型(1:幼兒園,2:國小,3:國中,4:高中職/五專,5:大專院校)",
                        "required": false,
                        "type": "string",
                        "example": "5"
                    },
                    {
                        "name": "SchoolName",
                        "in": "query",
                        "description": "學校名稱 (支援模糊搜尋)",
                        "required": false,
                        "type": "string",
                        "example": "輔仁"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得學校資料",
                        "schema": {
                            "$ref": "#/definitions/SchoolResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/school/{schoolId}": {
            "get": {
                "tags": [
                    "school"
                ],
                "summary": "根據學校ID取得學校詳細資料",
                "description": "根據學校ID取得單一學校的詳細資料",
                "operationId": "getSchoolById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "schoolId",
                        "in": "path",
                        "description": "學校ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "example": 64741889
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得學校詳細資料",
                        "schema": {
                            "$ref": "#/definitions/SchoolDetailResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "404": {
                        "description": "學校不存在"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/canteen": {
            "get": {
                "tags": [
                    "canteen"
                ],
                "summary": "搜尋學校餐廳資料",
                "description": "根據學校ID搜尋該學校的餐廳資料，可選擇性指定校區和時間期間",
                "operationId": "searchCanteens",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SchoolId",
                        "in": "query",
                        "description": "學校ID",
                        "required": true,
                        "type": "integer",
                        "example": 64741748
                    },
                    {
                        "name": "SFStreetId",
                        "in": "query",
                        "description": "校區ID",
                        "required": false,
                        "type": "integer",
                        "example": 71
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "查詢時間期間 (格式: YYYY-MM-DD)",
                        "required": false,
                        "type": "string",
                        "example": "2025-06-24"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得餐廳資料",
                        "schema": {
                            "$ref": "#/definitions/CanteenResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/kitchen/logo/{kitchenId}": {
            "get": {
                "tags": [
                    "canteen"
                ],
                "summary": "取得廚房/餐廳 Logo 圖片",
                "description": "根據廚房ID取得對應的 Logo 圖片",
                "operationId": "getKitchenLogo",
                "produces": [
                    "image/jpeg",
                    "image/png",
                    "image/gif",
                    "image/webp"
                ],
                "parameters": [
                    {
                        "name": "kitchenId",
                        "in": "path",
                        "description": "廚房ID",
                        "required": true,
                        "type": "string",
                        "example": "15833"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得 Logo 圖片",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "404": {
                        "description": "找不到對應的 Logo 圖片"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/canteen/meal": {
            "get": {
                "tags": [
                    "canteen"
                ],
                "summary": "查詢餐廳菜單",
                "description": "根據學校ID和餐廳ID查詢指定時間期間的菜單資料",
                "operationId": "getCanteenMeal",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SchoolId",
                        "in": "query",
                        "description": "學校ID",
                        "required": true,
                        "type": "integer",
                        "example": 64741748
                    },
                    {
                        "name": "RestaurantId",
                        "in": "query",
                        "description": "餐廳ID",
                        "required": true,
                        "type": "integer",
                        "example": 100133
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "查詢時間期間 (格式: YYYY-MM-DD,YYYY-MM-DD)",
                        "required": true,
                        "type": "string",
                        "example": "2025-06-24,2025-06-24"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得菜單資料",
                        "schema": {
                            "$ref": "#/definitions/MealResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/dish/pic/{restaurantId}-{dishId}": {
            "get": {
                "tags": [
                    "canteen"
                ],
                "summary": "取得餐點圖片",
                "description": "根據餐廳ID和菜品ID取得對應的餐點圖片",
                "operationId": "getDishPicture",
                "produces": [
                    "image/jpeg",
                    "image/png",
                    "image/gif",
                    "image/webp"
                ],
                "parameters": [
                    {
                        "name": "restaurantId",
                        "in": "path",
                        "description": "餐廳ID",
                        "required": true,
                        "type": "integer",
                        "example": 100133
                    },
                    {
                        "name": "dishId",
                        "in": "path",
                        "description": "菜品ID",
                        "required": true,
                        "type": "integer",
                        "example": 1185559
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得餐點圖片",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "404": {
                        "description": "找不到對應的餐點圖片"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        }
    },
    "definitions": {
        "CountyResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "number",
                    "description": "回應結果狀態"
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息"
                },
                "data": {
                    "type": "array",
                    "description": "縣市資料陣列",
                    "items": {
                        "$ref": "#/definitions/County"
                    }
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "County": {
            "type": "object",
            "properties": {
                "CountyId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "縣市ID",
                    "example": 18
                },
                "County": {
                    "type": "string",
                    "description": "縣市名稱",
                    "example": "基隆市"
                },
                "Code": {
                    "type": "string",
                    "description": "縣市代碼",
                    "example": "C"
                }
            },
            "required": [
                "CountyId",
                "County",
                "Code"
            ]
        },
        "AreaResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search Area Successful"
                },
                "data": {
                    "type": "array",
                    "description": "區域資料陣列",
                    "items": {
                        "$ref": "#/definitions/Area"
                    }
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "Area": {
            "type": "object",
            "properties": {
                "CountyId": {
                    "type": "integer",
                    "description": "縣市ID",
                    "example": 19
                },
                "County": {
                    "type": "string",
                    "description": "縣市名稱",
                    "example": "新北市"
                },
                "Code": {
                    "type": "string",
                    "description": "縣市代碼",
                    "example": "F"
                },
                "Area": {
                    "type": "string",
                    "description": "區域名稱",
                    "example": "萬里區"
                },
                "AreaId": {
                    "type": "integer",
                    "description": "區域ID",
                    "example": 131374
                }
            },
            "required": [
                "CountyId",
                "County",
                "Code",
                "Area",
                "AreaId"
            ]
        },
        "SchoolResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search School successful"
                },
                "data": {
                    "type": "array",
                    "description": "學校資料陣列",
                    "items": {
                        "$ref": "#/definitions/School"
                    }
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "School": {
            "type": "object",
            "properties": {
                "SchoolId": {
                    "type": "integer",
                    "description": "學校ID",
                    "example": 13337
                },
                "SchoolCode": {
                    "type": "string",
                    "description": "學校代碼",
                    "example": "013337"
                },
                "SchoolName": {
                    "type": "string",
                    "description": "學校名稱",
                    "example": "新北市新莊區新莊高中"
                },
                "CountyId": {
                    "type": "integer",
                    "description": "所屬縣市ID",
                    "example": 19
                },
                "AreaId": {
                    "type": "integer",
                    "description": "區域ID",
                    "example": 131398
                },
                "SchoolType": {
                    "type": "integer",
                    "description": "學校類型",
                    "example": 4
                }
            },
            "required": [
                "SchoolId",
                "SchoolCode",
                "SchoolName",
                "CountyId",
                "AreaId",
                "SchoolType"
            ]
        },
        "SchoolDetailResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Get School successful"
                },
                "data": {
                    "$ref": "#/definitions/SchoolDetail"
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "SchoolDetail": {
            "type": "object",
            "properties": {
                "SchoolId": {
                    "type": "integer",
                    "description": "學校ID",
                    "example": 64741889
                },
                "SchoolName": {
                    "type": "string",
                    "description": "學校名稱",
                    "example": "新北市新莊區輔仁大學"
                },
                "CountyId": {
                    "type": "integer",
                    "description": "所屬縣市ID",
                    "example": 19
                },
                "AreaId": {
                    "type": "integer",
                    "description": "區域ID",
                    "example": 131398
                },
                "SchoolType": {
                    "type": "integer",
                    "description": "學校類型",
                    "example": 5
                }
            },
            "required": [
                "SchoolId",
                "SchoolName",
                "CountyId",
                "AreaId",
                "SchoolType"
            ]
        },
        "CanteenResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search School - Restaurant Successful"
                },
                "data": {
                    "type": "array",
                    "description": "餐廳資料陣列",
                    "items": {
                        "$ref": "#/definitions/Restaurant"
                    }
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "Restaurant": {
            "type": "object",
            "properties": {
                "SchoolId": {
                    "type": "integer",
                    "description": "學校ID",
                    "example": 64741748
                },
                "SchoolName": {
                    "type": "string",
                    "description": "學校名稱",
                    "example": "臺北市大安區國立臺灣師範大學"
                },
                "SFStreetId": {
                    "type": "integer",
                    "description": "校區ID",
                    "example": 71
                },
                "SFStreetName": {
                    "type": "string",
                    "description": "校區名稱",
                    "example": "公館校區"
                },
                "RestaurantId": {
                    "type": "integer",
                    "description": "餐廳ID",
                    "example": 100133
                },
                "RestaurantName": {
                    "type": "string",
                    "description": "餐廳名稱",
                    "example": "學7中餐廳"
                },
                "kitchenId": {
                    "type": "string",
                    "description": "廚房ID",
                    "example": "15833"
                },
                "companyId": {
                    "type": "string",
                    "description": "公司ID",
                    "example": "225535673"
                },
                "address": {
                    "type": "string",
                    "description": "地址",
                    "example": "台北市汀洲路4段89號學2舍中餐廳"
                },
                "tel": {
                    "type": "string",
                    "description": "電話",
                    "example": "(03) 4317235"
                },
                "Hours1_desc": {
                    "type": "string",
                    "description": "營業時間1描述",
                    "example": "平日"
                },
                "Hours1_value": {
                    "type": "string",
                    "description": "營業時間1時段",
                    "example": "11:00~14:00"
                },
                "Hours2_desc": {
                    "type": "string",
                    "description": "營業時間2描述",
                    "example": "平日"
                },
                "Hours2_value": {
                    "type": "string",
                    "description": "營業時間2時段",
                    "example": "17:00~19:00"
                },
                "mealItems": {
                    "type": "string",
                    "description": "餐點類型",
                    "example": "自助餐"
                },
                "manager": {
                    "type": "string",
                    "description": "負責人",
                    "example": "林麗蓉"
                },
                "isEnable": {
                    "type": "string",
                    "description": "是否啟用 (字串格式)",
                    "example": "1"
                },
                "enable": {
                    "type": "integer",
                    "description": "是否啟用 (數字格式)",
                    "example": 1
                },
                "createDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "建立時間",
                    "example": "2016-01-27T07:06:08.000Z"
                },
                "RmodifyDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "最後修改時間",
                    "example": "2025-02-19T07:50:33.000Z"
                },
                "sfsmodifyDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "SFS最後修改時間",
                    "example": "2020-03-03T01:04:13.000Z"
                }
            },
            "required": [
                "SchoolId",
                "SchoolName",
                "SFStreetId",
                "SFStreetName",
                "RestaurantId",
                "RestaurantName",
                "kitchenId",
                "companyId",
                "address",
                "tel",
                "Hours1_desc",
                "Hours1_value",
                "Hours2_desc",
                "Hours2_value",
                "mealItems",
                "manager",
                "isEnable",
                "enable",
                "createDate",
                "RmodifyDate",
                "sfsmodifyDate"
            ]
        },
        "MealResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search School - Canteen Meal Successful"
                },
                "data": {
                    "type": "array",
                    "description": "餐廳菜單資料陣列",
                    "items": {
                        "$ref": "#/definitions/RestaurantMeal"
                    }
                }
            },
            "required": [
                "result",
                "message",
                "data"
            ]
        },
        "RestaurantMeal": {
            "type": "object",
            "properties": {
                "SchoolId": {
                    "type": "integer",
                    "description": "學校ID",
                    "example": 64741748
                },
                "SchoolName": {
                    "type": "string",
                    "description": "學校名稱",
                    "example": "臺北市大安區國立臺灣師範大學"
                },
                "SFStreetId": {
                    "type": "integer",
                    "description": "校區ID",
                    "example": 3097
                },
                "SFStreetName": {
                    "type": "string",
                    "description": "校區名稱",
                    "example": "綜合大樓"
                },
                "RestaurantId": {
                    "type": "integer",
                    "description": "餐廳ID",
                    "example": 116354
                },
                "RestaurantName": {
                    "type": "string",
                    "description": "餐廳名稱",
                    "example": "街口皇廚"
                },
                "Meal": {
                    "type": "array",
                    "description": "菜單項目陣列",
                    "items": {
                        "$ref": "#/definitions/MealItem"
                    }
                }
            },
            "required": [
                "SchoolId",
                "SchoolName",
                "SFStreetId",
                "SFStreetName",
                "RestaurantId",
                "RestaurantName",
                "Meal"
            ]
        },
        "MealItem": {
            "type": "object",
            "properties": {
                "RMenuDishId": {
                    "type": "integer",
                    "description": "菜單菜品ID",
                    "example": 346240056
                },
                "RDishTypeId": {
                    "type": "string",
                    "description": "菜品類型ID",
                    "example": "34182"
                },
                "RDishTypeName": {
                    "type": "string",
                    "description": "菜品類型名稱",
                    "example": "便當"
                },
                "RDishId": {
                    "type": "integer",
                    "description": "菜品ID",
                    "example": 1130931
                },
                "RDishName": {
                    "type": "string",
                    "description": "菜品名稱",
                    "example": "古早味滷排骨飯"
                },
                "MenuDate": {
                    "type": "string",
                    "description": "菜單日期",
                    "example": "2025/06/24"
                },
                "SortOrder": {
                    "type": "integer",
                    "description": "排序順序",
                    "example": 0
                },
                "IngredientList": {
                    "type": "string",
                    "description": "食材清單",
                    "example": ""
                },
                "calorie": {
                    "type": "integer",
                    "description": "卡路里",
                    "example": 0
                },
                "createUser": {
                    "type": "string",
                    "description": "建立者",
                    "example": "n010"
                },
                "createDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "建立時間",
                    "example": "2024-01-23T02:05:03.000Z"
                },
                "modifyUser": {
                    "type": "string",
                    "description": "修改者",
                    "example": null
                },
                "modifyDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "修改時間",
                    "example": null
                }
            },
            "required": [
                "RMenuDishId",
                "RDishTypeId",
                "RDishTypeName",
                "RDishId",
                "RDishName",
                "MenuDate",
                "SortOrder",
                "IngredientList",
                "calorie",
                "createUser",
                "createDate"
            ]
        }
    }
}