{
    "swagger": "2.0",
    "info": {
        "description": "Edu Eats API - 愛揪 API",
        "version": "1.0.0",
        "title": "Edu Eats API",
        "contact": {
            "email": ""
        }
    },
    "host": "fatraceschool.k12ea.gov.tw",
    "basePath": "/",
    "tags": [
        {
            "name": "county",
            "description": "縣市資料相關操作"
        },
        {
            "name": "area",
            "description": "區域資料相關操作"
        },
        {
            "name": "school",
            "description": "學校資料相關操作"
        }
    ],
    "schemes": ["https"],
    "paths": {
        "/county": {
            "get": {
                "tags": ["county"],
                "summary": "取得縣市列表",
                "description": "取得所有縣市的資料列表",
                "operationId": "getCounties",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "成功取得縣市資料",
                        "schema": {
                            "$ref": "#/definitions/CountyResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/area": {
            "get": {
                "tags": ["area"],
                "summary": "查詢區域資料",
                "description": "根據縣市ID查詢該縣市下的所有區域資料",
                "operationId": "getAreas",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "CountyId",
                        "in": "query",
                        "description": "縣市ID",
                        "required": true,
                        "type": "integer",
                        "example": 19
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得區域資料",
                        "schema": {
                            "$ref": "#/definitions/AreaResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        },
        "/school": {
            "get": {
                "tags": ["school"],
                "summary": "搜尋學校資料",
                "description": "https://fatraceschool.k12ea.gov.tw/school?CountyId=19&AreaId=131398&SchoolType=5",
                "operationId": "searchSchools",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "CountyId",
                        "in": "query",
                        "description": "縣市ID",
                        "required": false,
                        "type": "string",
                        "example": "19"
                    },
                    {
                        "name": "AreaId",
                        "in": "query",
                        "description": "區域ID",
                        "required": false,
                        "type": "string",
                        "example": "131398"
                    },
                    {
                        "name": "SchoolType",
                        "in": "query",
                        "description": "學校院所類型(1:幼兒園,2:國小,3:國中,4:高中職/五專,5:大專院校)",
                        "required": false,
                        "type": "string",
                        "example": "5"
                    },
                    {
                        "name": "SchoolName",
                        "in": "query",
                        "description": "學校名稱 (支援模糊搜尋)",
                        "required": false,
                        "type": "string",
                        "example": "輔仁"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功取得學校資料",
                        "schema": {
                            "$ref": "#/definitions/SchoolResponse"
                        }
                    },
                    "400": {
                        "description": "請求參數錯誤"
                    },
                    "500": {
                        "description": "伺服器內部錯誤"
                    }
                }
            }
        }
    },
    "definitions": {
        "CountyResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "number",
                    "description": "回應結果狀態"
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息"
                },
                "data": {
                    "type": "array",
                    "description": "縣市資料陣列",
                    "items": {
                        "$ref": "#/definitions/County"
                    }
                }
            },
            "required": ["result", "message", "data"]
        },
        "County": {
            "type": "object",
            "properties": {
                "CountyId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "縣市ID",
                    "example": 18
                },
                "County": {
                    "type": "string",
                    "description": "縣市名稱",
                    "example": "基隆市"
                },
                "Code": {
                    "type": "string",
                    "description": "縣市代碼",
                    "example": "C"
                }
            },
            "required": ["CountyId", "County", "Code"]
        },
        "AreaResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search Area Successful"
                },
                "data": {
                    "type": "array",
                    "description": "區域資料陣列",
                    "items": {
                        "$ref": "#/definitions/Area"
                    }
                }
            },
            "required": ["result", "message", "data"]
        },
        "Area": {
            "type": "object",
            "properties": {
                "CountyId": {
                    "type": "integer",
                    "description": "縣市ID",
                    "example": 19
                },
                "County": {
                    "type": "string",
                    "description": "縣市名稱",
                    "example": "新北市"
                },
                "Code": {
                    "type": "string",
                    "description": "縣市代碼",
                    "example": "F"
                },
                "Area": {
                    "type": "string",
                    "description": "區域名稱",
                    "example": "萬里區"
                },
                "AreaId": {
                    "type": "integer",
                    "description": "區域ID",
                    "example": 131374
                }
            },
            "required": ["CountyId", "County", "Code", "Area", "AreaId"]
        },
        "SchoolResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "integer",
                    "description": "回應結果狀態",
                    "example": 1
                },
                "message": {
                    "type": "string",
                    "description": "回應訊息",
                    "example": "Search School successful"
                },
                "data": {
                    "type": "array",
                    "description": "學校資料陣列",
                    "items": {
                        "$ref": "#/definitions/School"
                    }
                }
            },
            "required": ["result", "message", "data"]
        },
        "School": {
            "type": "object",
            "properties": {
                "SchoolId": {
                    "type": "integer",
                    "description": "學校ID",
                    "example": 13337
                },
                "SchoolCode": {
                    "type": "string",
                    "description": "學校代碼",
                    "example": "013337"
                },
                "SchoolName": {
                    "type": "string",
                    "description": "學校名稱",
                    "example": "新北市新莊區新莊高中"
                },
                "CountyId": {
                    "type": "integer",
                    "description": "所屬縣市ID",
                    "example": 19
                },
                "AreaId": {
                    "type": "integer",
                    "description": "區域ID",
                    "example": 131398
                },
                "SchoolType": {
                    "type": "integer",
                    "description": "學校類型",
                    "example": 4
                }
            },
            "required": ["SchoolId", "SchoolCode", "SchoolName", "CountyId", "AreaId", "SchoolType"]
        }
    }
}
